<!--users/templates/registration/login.html-->

{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Login">
</form>

<p><a href="{% url 'dashboard' %}" type="button" class="btn btn-info">Back to dashboard</a></p>
<p><a href="{% url 'password_reset' %}" type="button" class="btn btn-info">Reset password</a></p>
<p><a href="{% url 'register' %}" type="button" class="btn btn-info">Register</a></p>
{% endblock %}
