{% extends "base.html" %}
{% load static %}

{% block style_content %}
    <link rel="stylesheet" href="{% static 'css/moving/style.css' %}">
    <script src="{% static 'js/moving/dnd.js' %}" ></script>
    <script src="{% static 'js/moving/dnd-items.js' %}" ></script>
    <script src="{% static 'js/moving/dnd-columns.js' %}" ></script>
{% endblock %}



{% block page_content %}

<div class="col-md-8 offset-md-2">
    <h1>Card Index</h1>
    <hr>
    <h3>{{data}}</h3>


</div>
{% endblock %}












