<!--users/templates/users/dashboard.html-->

{% extends 'base.html' %}

{% block content %}
<p>Hello, {{ user.username|default:'Guest' }}!</p>

<div>
    {% if user.is_authenticated %}
        <p><a href="{% url 'logout' %}" type="button" class="btn btn-info">Logout</a></p>
        <p><a href="{% url 'password_change' %}" type="button" class="btn btn-info">Change password</a></p>
    {% else %}
        <p><a href="{% url 'login' %}" type="button" class="btn btn-info">Login</a></p>
        <p><a href="{% url 'password_reset' %}" type="button" class="btn btn-info">Reset Password</a></p>
        <p><a href="{% url 'register' %}" type="button" class="btn btn-info">Register</a></p>

    {% endif %}
</div>
{% endblock %}
